{% block content %}

<div class="collapse navbar-collapse" id="main-nav">



    {% for x in header_customisation  %}
    {% for y in global_styles  %}
    <a class="{% if y.do_not_display or x.do_not_display %}
    do-not-display {% else %} logo-font font-weight-bold nav-link text-black {% endif %}"
        style="color: {{ y.base_font_color }} !important;" href="/">
        <i class="{% if y.do_not_display %}
        do-not-display {% else %} fas fa-home mr-2 {% endif %}" style="color: {{ y.all_icon_colors }};"></i>
        Home


        <a href="{% url 'products' %}" class="{% if y.do_not_display or x.do_not_display %}
        do-not-display {% else %} logo-font font-weight-bold nav-link text-black {% endif %}"
            style="color: {{ y.base_font_color }} !important;">
            All Products
        </a>
        <a class="{% if y.do_not_display or x.do_not_display %}
        do-not-display {% else %} logo-font font-weight-bold nav-link text-black {% endif %}"
            href="{% url 'products' %}?category=gemstones" style="color: {{ y.base_font_color }} !important;">
            Gemstones
        </a>
        <a class="{% if y.do_not_display or x.do_not_display %}
        do-not-display {% else %} logo-font font-weight-bold nav-link text-black {% endif %}"
            href="{% url 'products' %}?category=tools" style="color: {{ y.base_font_color }} !important;">
            Tools
        </a>
    </a>
    {% endfor %}
    {% endfor %}

</div>



{% endblock content %}